.home_title {
    background: rgba(36, 123, 197, .9);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    width: 20rem;
    margin: 1.2rem auto;
    padding: .5rem;
    font-weight: 600;
    letter-spacing: 1px;
}