.bar {
    background-color: #0B2828;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.bar_collap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.menu_link {
    color: #F1FCFB;
    text-decoration: none;
    cursor: default;
    letter-spacing: 1px;
}

.menu_link:hover {
    color: #F1FCFB;
    text-decoration: underline;
}




.form_menu > input {
    background: none;
    border: 2px solid #247BC5;
    cursor: default;
    padding: .4rem 1rem;
    font-size: 15px;
    color: #F1FCFB;
    font-weight: 500;
    letter-spacing: 1px;
    width: 180px;
    border-radius: 5px;
    margin-right: 6px;
}

.form_menu > button {
    background: none;
    border: 2px solid #247BC5;
    cursor: default;
    padding: .4rem 1rem;
    font-size: 15px;
    color: #F1FCFB;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
}

.form_menu > button:hover {
    background: #247BC5;
    color: #fff;
}
